* {
    border: none;
    border-radius: 0;
    font-family: "Font Awesome, Source Code Pro";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.persistent {
    color: #00bbff;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
    font-style: italic;
    padding: 0 3px;
    margin: 0 3px;
}

#tray, #custom-keyboard, #custom-yay, #cpu, #pulseaudio, #battery, #network, #clock {
    padding: 0 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: white;
    color: black;
}

#custom-spotify {
    color: rgb(102, 220, 105);
    margin: 0 5px;
}

#custom-pipe {
    color: #00bbff;
}
